{% set pip = salt['grains.filter_by']({
    'Debian': {
        'pip_pkg': 'python-pip',
        'dev_pkgs': [
          'build-essential',
          'python-dev',
        ],
        'pip_conf': '/etc/pip.conf',
    },
    'RedHat': {
        'pip_pkg': 'python-pip',
        'dev_pkgs': [
          'gcc',
          'python-devel',
        ],
        'pip_conf': '/etc/pip.conf',
    },
    'Windows': {
        'pip_pkg': 'pip',
        'dev_pkgs': [],
        'pip_conf': 'C:\Python\pip.conf',
    },
}, merge=salt['pillar.get']('pip:lookup')) %}
